* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 37, 41);
  /* position: relative; */
  background-repeat: no-repeat;
  overflow: hidden;
}

.heading {
  font-size: 3.6rem;
  color: #e1e1e1;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: -4rem;
  text-transform: uppercase;
}

.btn-log {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(0.85rem);
  padding: 1rem;
  border-radius: 18px;
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-decoration: none;
}

.logout {
  color: #222;
  text-decoration: none;
}

.pages {
  display: flex;
  gap: 3rem;
  width: 80%;
  margin: 10rem auto;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

.page {
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  transition: all 0.4s;
}

.pages {
  display: flex;
  gap: 3rem;
  width: 80%;
  margin: 10rem auto;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

.pages h2 {
  text-align: center;
}

.logos {
  font-size: 8rem;
  color: #177bff;
  transition: all 0.4s;
}

.page:hover {
  cursor: pointer;
  background: #e1e1e1;
}

.page:hover .logos {
  color: #0059cc;
}

.course-png {
  width: 10rem;
}

.css {
  width: 12rem;
  margin: -1.6rem;
}

.page:hover {
  cursor: pointer;
  background: #e1e1e1;
}

.page:hover .logos {
  color: #0059cc;
}

.container {
  display: flex;
  flex-direction: column;
}
